<!DOCTYPE HTML>
<!--
	(C) Cutespirit 2022
	service@cutespirit.org
	Updated on 2022/09/06 for version 2.0
	UpdInfo: finish the content

	TODO: 手機內容控制(RWD)
-->
<html>
	<head>
		<title>課表</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<script src="js/vue.global-3.0.2.js"></script>
		<script src="js/axios.min-0.21.1.js"></script>
		<link rel="stylesheet" href="assets/css/bootstrap-iso.css" />
		<!-- <link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" /> -->

		<!-- Facebook Meta property -->
		<meta property="og:title" content="臺中科大課表 - 改編版" />
		<meta property="og:description" content="一個比學校課表系統更好的工具" />
		<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/zh/7/77/NUTC_logo.gif" />

		<style>
			sup {
				vertical-align: super;
				font-size: 20px;
			}
		</style>
	</head>
	<body class="is-preload">		
		<script type="text/javascript">
			// var cacheSearch = "<?php echo htmlspecialchars($_GET['search']); ?>";
		</script>
        <!-- <?php header('Access-Control-Allow-Origin: *'); ?> -->

		<!-- Wrapper -->
		<div id="app">
			<div id="wrapper">

				<div class="bootstrap-iso">

				</div>

				<!-- Header -->
					<header id="header">
						<h1>臺中科大課表</h1>
						<p>打造比學校系統更好用的課表</p>
					</header>

                <!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#curriculum" class="active">課表</a></li>
							<li><a href="#ClassroomInfo">教室資訊</a></li>
							<li><a href="#map1">三民校區平面圖</a></li>
							<li><a href="#map2">民生校區平面圖</a></li>
							<!-- <li><a href="#map2">民生校區平面圖</a></li> -->
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        <!-- {{data}} -->
                        <!-- Curriculum -->
                        <input type="text" class="form-control" id="search" placeholder="快速搜尋您的教室吧!" v-model="cacheSearch">
						
							<select name="school" v-if="school_id" v-model="cacheID">
								<option value="" disabled>請選擇您的班級</option>
								<option v-for="(item, key) in filiterData" :key="key" :value="item.id" > {{item.name}} {{ item.id}} </option>
							</select>

							<div id="curriculum">
								<section style="text-align: center;" v-if="cacheID">
									<table class="alt">
										<thead>
											<tr>
												<td v-for="(item,key) in data[0]" :key="key" v-html="item"></td>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, key) in data.slice(1)" :key="key">
												<td v-for="(item2, key2) in item" :key="key2" v-html="item2"></td>
											</tr>
										</tbody>
									</table>
									<p style="color: red;">請注意！教室代碼為 地點(6)、樓層(7)、教室(01)，如6701。</p>
								</section>
							</div>
							<section id="ClassroomInfo" class="main inactive">
                                <table class="alt">
									<thead>
										<tr>
											<td>開頭</td>
											<td>位置</td>
											<td>校區</td>
										</tr>
									</thead>
									<tbody>
										<tr v-for="item in classroom">
											<td>{{ item.position }}</td>
											<td>{{ item.name }}</td>
											<td>{{ item.address }}</td>
										</tr>
									</tbody>
								</table>
							</section>

							<section id="map1" class="main inactive">
								<center>
									<img style="width: 100%;" src="https://www.nutc.edu.tw/ezfiles/0/1000/img/11/map-1.jpg" alt="Can not show img">
								</center>
							</section>

							<section id="map2" class="main inactive">
								<center>
									<img style="width: 100%;" src="https://ga.nutc.edu.tw/ezfiles/77/1077/img/1554/971425825.jpg" alt="Can not show img">
								</center>
							</section>
					</div>

				<!-- Footer -->
				<footer id="footer">
						<section>
							<h2>關於作者</h2>
							<p>大家好，我是夏特稀，是本專案作者，因為覺得學校的課表系統很難用，因此製作了這個版本，在查學校資料的時候會更加方便，也解決了常常找不到教室的窘境，不僅可以更快速的找到教室，也變得更加方便查詢課表。未來也會增加更多功能。</p>
							<ul class="actions">
								<li><a target="_blank" href="https://tershi.com/" class="button">夏特稀 個人網站</a></li>
								<li><a target="_blank" href="https://github.com/mmm25002500/Nutc-class-timetable" class="button">本開源專案 Github</a></li>
							</ul>
						</section>
						<section>	
							<h2>聯繫作者</h2>
							<dl class="alt">
								<dt>MyGamil</dt>
								<dd><a href="mailto:marryhan25648@gmail.com">marryhan25648@gmail.com</a></dd>
								<dt>MyEmail</dt>
								<dd><a href="mailto:admin@tershi.com">admin@tershi.com</a></dd>
								有什麼錯誤或是資訊歡迎來信！聯絡夏特稀喔！
							</dl>
							<ul class="icons">
								<!--<li><a target="_blank" href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li> -->
								<li><a target="_blank" href="https://www.facebook.com/TershiXia/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a target="_blank" href="https://www.instagram.com/tershixia/" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a target="_blank" href="https://github.com/mmm25002500" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a target="_blank" href="http://youtube.com/%E5%A4%8F%E7%89%B9%E7%A8%80" class="icon brands fa-youtube alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
                        <!-- <center>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2160145108933116" crossorigin="anonymous"></script> -->
                            <!-- 廣告 -->
                            <!-- <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-2160145108933116"
                                 data-ad-slot="2737071950"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                    </center> -->
        			<p class="copyright">&copy; Cutespirit 2022. <br> &copy; TershiXia 2022.  <!--<?php echo date("Y"); ?>. --></p>
				</footer>
			</div>
		</div>
		<script>
			const App = {
				data(){
					return{
                        data: [],
                        cacheSearch: '',
						cacheID: '',
						school_id: [],
						classroom: [
							{
								position: 1,
								name: '行政大樓',
								address: '三民校區'
							},
							{
								position: 2,
								name: '資訊館',
								address: '三民校區'
							},
							{
								position: 3,
								name: '中正大樓',
								address: '三民校區'
							},
							{
								position: 4,
								name: '昌明樓',
								address: '三民校區'
							},
							{
								position: 5,
								name: '翰英樓',
								address: '三民校區'
							},
							{
								position: 6,
								name: '弘業樓',
								address: '三民校區'
							},
							{
								position: 7,
								name: '中商大樓',
								address: '三民校區'
							},
							{
								position: 8,
								name: '奇秀樓',
								address: '三民校區'
							},
							{
								position: 'T',
								name: '誠敬樓',
								address: '民生校區'
							},
							{
								position: 'R',
								name: '仁愛樓',
								address: '民生校區'
							},
							{
								position: 'M',
								name: '綜合大樓',
								address: '民生校區'
							}
						]
					}
				},
				methods:{
					getClassRoom(){
						const url = 'https://api.tershi.com/getClassRoom';
						axios.get(url).then((res) => {
							this.school_id = res.data;
						});
					}
				},
				beforeCreated(){
                    // this.cacheSearch = cacheSearch;
					this.getClassRoom();
				},
                watch: {
                    cacheID: function (id){
                        const url = 'https://api.tershi.com/getTable?id=' + id;
						axios.get(url).then((res) => {
							this.data = res.data;
						});
                    }
                },
				computed:{
                    filiterData(){
						return this.school_id.filter((item) => {
							// console.log(item);
							return item.name.toUpperCase().match(this.cacheSearch.toUpperCase());
						});
    				}
				}
			};
			Vue.createApp(App).mount('#app');
		</script>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
