.head{
	background-color: #666666;font-family: DFKai-sb;color:red;font-weight: bold;font-size: 30px;
	text-align: center;padding: 350px;
}
.copyright{
	color:#00FF00;
}
.align-center{
	text-align: center;
}

