.head{
    background-color: #33FFFF;font-family: DFKai-sb;color:red;font-weight: bold;font-size: 30px;
    text-align: center;padding: 10px;
  }
  .content{
    width:1200px;margin-left: auto;margin-right: auto;
  }
  .box{
      width:280px;padding: 10px;margin: 10px;background-color: #00FF00;
      display: inline-block;vertical-align: top;
        font-family: DFKai-sb;
      border-radius: 20px
  }
.Box1{
      width:400px;
      display: inline-block;vertical-align: top;
            font-family: DFKai-sb;
      border-radius: 20px
  }
.box2{
      width:80px;padding: 10px;margin: 10px;background-color: #00FF00;
      display: inline-block;vertical-align: top;
            font-family: DFKai-sb;
      border-radius: 20px
  }

 .boxOrange{
      width:280px;padding: 10px;margin: 10px;background-color: orange;
      display: inline-block;vertical-align: top;
      border-radius: 10px
  }
  .boxGreen{
      width:280px;padding: 10px;margin: 10px;background-color: green;
      display: inline-block;vertical-align: top;
      border-radius: 20px
  }
  .boxRed{
      width:100px;padding: 10px;margin: 5px;background-color: red;
      display: inline-block;vertical-align: top;
      border-radius: 20px;
animation: changeshadow 1s  ease-in  infinite ;
-webkit-animation: changeshadow 1s linear infinite;
-moz-animation: changeshadow 1s linear infinite;
-ms-animation: changeshadow 1s linear infinite;
-o-animation: changeshadow 1s linear infinite;
  }
  .boxBlack{
width:280px;padding: 10px;margin: 10px;background-color: rgba(40, 40, 40, .8);
display: inline-block;vertical-align:top;
border-radius: 20px

}
  .title{
      font-weight: bold;
      text-align: center;
    }
  .text{
      font-size: 12px
  }
  .align-center{
    text-align: center;
  }
  .copyright{
    color:#00FF00;
  }
  ul { /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
  }

ul.drop-down-menu {
    border: #ccc 1px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    border-radius: 5px
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: #ccc 1px solid;
}

ul.drop-down-menu > li:last-child {
    border-right: none;
}

ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}

 ul.drop-down-menu a {
    background-color: #93FF93;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
    border-radius: 5px
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
    background-color: #ef5c28;
    color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #ef5c28;
    color: #fff;
}
ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
   min-width: 180px;
}

ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
  left: 500px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
 opacity: 1;
     -webkit-transition: opacity 0.3s;
 transition: opacity 0.3s;
 left: -1px;
 border-right: 5px;
}
ul.drop-down-menu li:hover > ul ul { /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
left: 500px;
}

ul.drop-down-menu ul li:hover > ul { /* 第二層之後的選單展開位置*/
  left: 90%;
}

@keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #20fefa}
    50%{ text-shadow: 0 0 40px #20fefa}
    100%{ text-shadow: 0 0 4px #20fefa}
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #20fefa}
      50%{ text-shadow: 0 0 40px #20fefa}
      100%{ text-shadow: 0 0 4px #20fefa}
}
@-moz-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #20fefa}
        50%{ text-shadow: 0 0 40px #20fefa}
        100%{ text-shadow: 0 0 4px #20fefa}
}
@-ms-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #20fefa}
        50%{ text-shadow: 0 0 40px #20fefa}
        100%{ text-shadow: 0 0 4px #20fefa}
}
@-o-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #20fefa}
        50%{ text-shadow: 0 0 40px #20fefa}
        100%{ text-shadow: 0 0 4px #20fefa}
}