.copyright{
	color:#00FF00;
}
.head{
	background: linear-gradient(cyan,#6c6c6c);
	font-family: DFKai-sb;
	color:red;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}
.align-center{
	text-align: center;
}
.table-align{
	margin-left:auto;
	margin-right:auto;
	font-family: 標楷體;
	font-size:17px;
	border:1px solid #D200D2;
	text-align:center;
	border-collapse:collapse;
}
