.copyright{
	color:#FF00FF;
}
.align-center{
	text-align: center;
}
.head{
	font-family: DFKai-sb;color:red;font-weight: bold;
	text-align: center;padding: 32.5px;
}
.table-align{
	margin-left:auto;
	margin-right:auto;
	font-family: 標楷體;
	font-size:17px;
	border:1px solid #B94FFF;
	text-align:center;
	border-collapse:collapse;
}
.content{
	width:1000px;margin-left: auto;margin-right: auto;
}
.box{
	width:280px;padding: 10px;margin: 10px;background-color: #00FF00;
	display: inline-block;
	vertical-align: top;
	font-family: DFKai-sb;
	border-radius: 20px
}
